In [1]:
import pandas as pd
import numpy as np

In [2]:
df13 = pd.read_csv("ci2013.csv")

In [3]:
df13.shape

(35911, 20)

In [6]:
df13.dtypes

CCN                              int64
REPORTDATETIME                  object
SHIFT                           object
OFFENSE                         object
METHOD                          object
LASTMODIFIEDDATE                object
BLOCKSITEADDRESS                object
BLOCKXCOORD                    float64
BLOCKYCOORD                    float64
WARD                           float64
ANC                             object
DISTRICT                        object
PSA                            float64
NEIGHBORHOODCLUSTER            float64
BUSINESSIMPROVEMENTDISTRICT     object
BLOCK_GROUP                     object
CENSUS_TRACT                   float64
VOTING_PRECINCT                 object
START_DATE                      object
END_DATE                        object
dtype: object

In [7]:
df13.isnull().sum()

CCN                                0
REPORTDATETIME                     0
SHIFT                              0
OFFENSE                            0
METHOD                             0
LASTMODIFIEDDATE                   0
BLOCKSITEADDRESS                   0
BLOCKXCOORD                        0
BLOCKYCOORD                        0
WARD                               3
ANC                                0
DISTRICT                           0
PSA                               22
NEIGHBORHOODCLUSTER              461
BUSINESSIMPROVEMENTDISTRICT    30383
BLOCK_GROUP                      144
CENSUS_TRACT                     144
VOTING_PRECINCT                   12
START_DATE                         1
END_DATE                          27
dtype: int64

In [9]:
df13["END_DATE"]

0          7/27/2004 8:30:00 PM
1         5/22/2009 12:00:00 AM
2         5/22/2009 12:00:00 AM
3          1/1/2009 12:00:00 AM
4           3/7/2010 2:45:00 AM
5         12/29/2008 8:00:00 PM
6                           NaN
7                           NaN
8                           NaN
9          4/5/2011 10:32:00 PM
10        5/12/2011 11:15:00 PM
11         1/9/2013 12:59:00 AM
12         3/20/2013 9:00:00 PM
13         4/15/2012 3:00:00 AM
14         9/10/2013 6:43:00 PM
15         10/1/2012 4:00:00 AM
16        10/14/2012 2:00:00 AM
17         1/1/2013 12:15:00 AM
18         1/1/2013 12:45:00 AM
19         1/1/2013 12:18:00 AM
20          1/1/2013 1:15:00 AM
21          1/1/2013 1:28:00 AM
22          1/1/2013 1:30:00 AM
23          1/1/2013 2:26:00 AM
24          1/1/2013 2:24:00 AM
25          1/1/2013 3:10:00 AM
26          1/1/2013 3:12:00 AM
27          1/1/2013 3:14:00 AM
28          1/1/2013 3:30:00 AM
29          1/1/2013 3:38:00 AM
                  ...
35881     12/31/2013 8:55:00 AM
35882     12/31/2013 7:15:00 AM
35883     12/16/2013 4:25:00 PM
35884     12/24/2013 3:00:00 PM
35885     12/30/2013 4:00:00 PM
35886     12/14/2013 5:10:00 PM
35887      11/5/2013 8:20:00 PM
35888     11/2/2013 11:00:00 PM
35889    11/18/2013 12:05:00 PM
35890     11/19/2013 2:30:00 PM
35891     11/21/2013 8:00:00 AM
35892     11/23/2013 1:31:00 AM
35893     12/11/2013 3:00:00 PM
35894    12/15/2013 11:15:00 PM
35895     12/11/2013 6:00:00 PM
35896    12/23/2013 10:50:00 PM
35897     12/18/2013 7:55:00 AM
35898      11/3/2013 5:10:00 PM
35899     11/1/2013 12:00:00 PM
35900    12/30/2013 12:10:00 PM
35901     10/31/2013 3:35:00 PM
35902     11/22/2013 7:37:00 PM
35903      12/2/2013 7:55:00 AM
35904     11/20/2013 9:30:00 PM
35905     12/30/2013 7:00:00 AM
35906    10/12/2013 10:00:00 PM
35907    12/20/2013 10:45:00 PM
35908      12/2/2013 9:30:00 PM
35909      7/23/2015 9:52:00 AM
35910       8/5/2015 1:40:00 PM
Name: END_DATE, dtype: object